language: node_js
node_js: node
cache:
  directories:
    - "node_modules"

branches:
  only:
  - master

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- -- version 0.23.2
  - export PATH="$HOME/.yarn/bin:$PATH"
  
install: true
 script:
  - npm run start
  - npm run build